include COPYING
include LEEME.txt
include README.md
include LISEZMOI.md
include AUTHORS
include pygubu-designer.png 

global-include *.mo
global-exclude *.po

recursive-include pygubudesigner/images *
recursive-include pygubudesigner/codegen/template *
recursive-include examples *
recursive-include requirements product.txt

global-exclude *~
